/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  margin: 0;
  padding: 0;
}
@font-face { font-family: 'calibri'; src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf') format('truetype'), url('../fonts/Calibri.svg#Calibri') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'calibri-Bold'; src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibri-Bold.woff') format('woff'), url('../fonts/Calibri-Bold.ttf') format('truetype'), url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg'); font-weight: normal; font-style: normal; }
html {
  font-family: 'calibri',calibri;
  font-size: 15px;
  background: #282828;
}

body
{
  background-color: white;
}
header
{
  position: relative;
  z-index: 0;
}
#push_down
{
  top: 35px;
}

p, h3,.h3, h1,.intro {
  color: #4e4e4e;
}

h3, .h3,h1 {
  font-family: 'calibri-Bold';
  padding-bottom: 20px;
}
.h3
{display: block;}

h1 {
  text-transform: uppercase;
  padding-bottom: 38px;
  padding-top: 35px;

}
//uus osa

ul li a
{
  text-decoration: none;
}
.link
{
  color: white !important;
}
br { clear:left }

#main_menu,header #main_menu {

  width: 100%;
  background-color:  #282828;
  padding: 5px 0;
}
header #main_menu {
  position: relative;
}
 #main_menu {
position: fixed;
   z-index: 10;
}

#main_menu .links {

  margin: 0; padding: 0;
  float: left;

}
#main_menu .links li {
  display: inline;
}
#main_menu ul li a {
  color: white;
  padding: 5px 48px;
  background-color:  #282828;
  border-left: 1px solid #d3d3d3;
  text-align: center;
}
#main_menu .links li a {
  float: left;
}
#main_menu .links li:first-child a
{
  border-left: none;
}
#main_menu ul li a:visited {
  color: white;
}
#main_menu ul li a:hover, #main_menu ul li .active {
  color: #282828 !important;
  background-color: white;
}
//uus osa lõpp

.border_top
{
  border-top: 1px solid lightgray;

}
.price
{
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  font-family: 'calibri-Bold';
}


ul {
  display: inline-block
}

li {
  display:inline-block;
  color: white;

}

#like {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  img
  {
   width: 25px;
    height: auto;
  }
}

.container1 {
  width: 90%;
  margin: 0px auto;
  position: relative;
  text-align: center;
}
.container-0 {
  width: 95%;
  margin: 0px auto;
  position: relative;
  text-align: center;
}


#cover {
  background-image: url("../img/cover.jpg");
  background-repeat: no-repeat;
  background-size: auto 126px;
  min-height: 170px;
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    left: 5%;
    top: 15px;
    width: 265px;
  }
}
#main_menu
{
  .container2 {
    width: 74%;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .navbar-toggle {
    display: none;
    position: relative;
    margin: 15px 0;
    padding: 9px 10px;
    background-color: white;
    background-image: none;
    border-radius: 2px;
    vertical-align: middle;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    border-bottom: 1px solid #282828;

  }
  button {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
    margin: 0;
  }
  .accordion{display: none}
}

#main {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 100px;
  margin-top: -79px;
  border-top:1px solid lightgray ;
  position: relative;
  z-index: 1;
  .container2, .container3 {
    margin: 0px auto;
    position: relative;
  }
  .container2 {
    width: 51%;
  }
  .container3 {
    width: 74%;
    #content_strip
    {
      width: 74%;
    }
  }
  #images {
    display: inline-block;
    margin-top: 34px;
    width: 100%;

  }
  #slaides
  {
    margin: 80px 0 68px;
    .item
    {
      text-align: center;
      img
      {
        width: 95%;
        max-width: 416px;
      }
    }

  }
  #news {
    margin-top: 40px;
    display: none;
    float: right;
    width: 32%;

    p span {
      font-family: 'calibri-Bold';
    }
  }
  #content_strip,#footer_strip {
    padding: 0 10px;
    .item
          {
             position: relative;
          a{text-decoration: none;

          }
      .image_link
      {
        display: inline-block;
        padding-left: 5px;
        a{color: #9f1111}
      }
          }
    .image_wrap, .intro {
      display: inline-block;
      vertical-align: middle;
    }
    .image_wrap img {
      width: 100px;
      height: auto;
    }

    .intro {
      max-width: 50%;
      margin-left: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    .title
    {
      .h3{padding-bottom: 0}
      vertical-align: baseline;
      margin-left: 30px;
    }

  h1{
    padding: 20px 0 38px 5%;

  }
  }
  #footer_strip
  {
    margin-top: 27px;
    .item
    {
      margin-top: 20px;
    }
    .team

    {
      display: inline-block;
      text-align: center;
      padding: 0 0 0 15px;
    }
    .team:first-child
    {
      padding: 0 !important;
    }
  }

  #content_strip
  {
    border: 1px solid #d3d3d3;
    margin-top: 85px !important;
    padding: 0 !important;
    .item
    {
      margin: 20px 40px 20px 20px;
    }
  }

  .small_center
  {
    margin: 0 auto;
  }
  .headline
  {
    background-color: #4e4e4e;
    padding: 5px 0 5px 50px;
    margin-bottom: 45px;
    p
    {
      text-transform: uppercase;
      color: white;
    }
  }
  .googlemap
  {
    margin-bottom: 0;

  }
  .map
  {
    //Võta see välja kui wordpressi paned
    img{width: 100%}
  }
  .sidebar{
    background-color: #4e4e4e;
    display: inline-block;
    position: fixed;
    right: 10%;
    top: 257px;
    width: 220px;
    text-align: center;
    ul
    {
      display: inline-block;
      margin: 0 auto;
      padding: 20px;
      text-align: left;
      font-family: 'calibri-Bold';
      li{
        display: block;
        padding: 4px 5px;
        a
        {
          padding: 10px;
          color: white !important;
          padding: 5px;
          text-transform: uppercase;
          display: block;
          text-decoration: none;
        }
        .active, a:hover{
          text-decoration: underline;
          color: white !important;
        }
        a:visited
        {
          color: white;
        }
        ul
        {
          padding: 0 !important;
          li
          {
            padding: 0 0 0 15px;
          }
          li a,  li .active{
            text-transform: capitalize;
            padding: 5px;
          }
          li .active{
            text-decoration: underline;
            color: white !important;
          }
        }
      }

    }
  }
}
.more_down
{
  margin-top: -44px !important;
}

#footer {
  background-color: #282828;
  margin-top: 20px;

  .container1 {
    text-align: center;
    ul li{
      padding: 14px 48px;

    }
  }
}
@media screen and (max-width: 1345px)
{
  #main .container2
  {
    width: 682px !important;
  }
}
@media screen and (max-width: 1145px)
{
  #main .sidebar {
    right: 5%;
  }
  #main .container3 {
    width: 90%;
    #content_strip {
      width: 70%;
    }
  }
}
@media screen and (max-width: 1053px)
{
  #main
  {
   #images {
    width: 78%;
    img {
      width: 49%;
    }
  }
 #news {

    width: 19%;
  }
    .container2
    {
      width: 682px !important;
    }
  }
  #main_menu
  {
    #like
    {
      right: 48px;
    }
    .container2
    {
      width: 94%;
    }
  }



  #footer .container1 ul li {
  padding: 10px 23px;
  width: 40%;
  text-align: left;
  }

}
@media screen and (max-width: 935px)
{

  #main .sidebar {
    right: 15px;
  }
  #main .container3 {
    width: 100%;
    #content_strip {
      width: 65%;
      margin-left: 15px;
    }
  }

}
@media screen and (min-width: 830px){.accordion{display: none !important;}}
@media screen and (max-width: 830px)
{

  .navbar-toggle {
    display: block !important;
  }


    .accordion {
    display: block;
    width: 100%;
  }

  #main_menu {
   padding: 5px 0;
    .links{display: none}
  }
    #main_menu li a{
    border-left: none !important;
    display: block;
  }
  li {
    display: block;
  }
  a:link {
    padding: 11px 0;
    text-align: center;
  }
   a:hover, a:active, .active {
    border-bottom: 1px solid #282828;
  }
    #like {
      display: block;
      position: absolute;
      left: 72px;
      top: 15px;
      img{
      width: 30px;
      height: auto;
    }

      }

  #main
  {
  #news {
    width: 35%;
  }
  #images {
    width: 60%;
   img {
      width: 100%;
    }
  }
  }

  #main .sidebar {
    display: none;
  }
  #main .container3 #content_strip {
    width: 100%;
    margin-left: 0;
    border-left: 0;
    border-right: 0;
  }
  #push_down {
    top: 71px;
  }
  .more_down {
    margin-top: -8px !important;
  }
}
@media screen and (max-width: 712px)
{
 #main .container2
 {
   width: 100%!important;

 }
  #main #footer_strip{
    .team
    {
      display: block;
      text-align: center;
      margin-bottom: 6px;
    }
    .text
    {
      text-align: left;
      display: inline-block;
      width: 50%;
    }
  }
}
@media screen and (max-width: 550px)
{
#footer .container1 ul li {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
  #main

  {#news {
    width: 100%;
  }
  #images {
    width: 100%;
    margin-top: 30px;
  }
  }
}
@media screen and (max-width: 430px)
{

  #main #footer_strip .text {
    text-align: center;
    width: 100%;
    padding-top: 15px;
    .h3 {
      padding-bottom: 12px;
    }
  }

  #main #footer_strip h1 {
    padding: 20px 0 10px 5%;
  }
  #cover
  {
    display: none;
  }
  #main
  {
    margin-top: 0;
    #content_strip {
      margin-top: 26px !important;
      .item {
        margin: 0 15px 29px;
        .intro
        {
          display: block;
          max-width: 100%;
          margin-top: 12px;
        }
        .title
        {
          display: inline-block;
        }
      }

    }
    .price {
      position: absolute;
      bottom: -20px;
  }
}
  .more_down
  {
    #content_strip {
      margin-top: 85px !important;
  }
  }
}
@media screen and (max-width: 370px)
{
  #footer_strip
  {.intro {
    max-width: 100% !important;
    margin: 10px 0 0 20px !important;;
  }
  .item {
    margin-bottom: 20px !important;
  }}
}