/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  margin: 0;
  padding: 0
}

html {
  font-family: calibri;
  font-size: 15px;
}

p, h3, h1 {
  color: #4e4e4e;
}

h3, h1 {
  font-weight: bold;
  padding-bottom: 20px;
}

h1 {
  text-transform: uppercase;
  padding-bottom: 38px;
  padding-top: 35px;

}

a:link {
  text-decoration: none;
  color: white;
  display: block;
}
header a:link
{
  padding: 5px 48px;
}
/* visited link */
a:visited {
  color: #d3d3d3;
}

/* mouse over link selected link */

a:hover, a:active, .active  {
  color: #282828;
}
.active  {
  color: #282828 !important;
}
header a:hover, header a:active, header .active
{
  background-color: white;

}


.border_top
{
  border-top: 1px solid lightgray;

}
.price
{
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}
#main_menu {
  background-color: #282828;
  padding-bottom: 5px;
  padding-top: 5px;
li{
  border-left: 1px solid #d3d3d3;
}
li:first-child
{
  border-left: none;
}
}

ul {
  display: inline-block
}

li {
  display: inline-block;
  color: white;

}

#like {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.container1 {
  width: 90%;
  margin: 0px auto;
  position: relative;
}


#cover {
  background-image: url("../img/cover.jpg");
  background-repeat: no-repeat;
  background-size: auto 185px;
  min-height: 214px;
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    left: 5%;
    top: 39px;
  }
}
header
{
  .container2 {
    width: 74%;
    margin: 0px auto;
    position: relative;
  }
}
#main {
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 100px;
  margin-top: -79px;
  border-top:1px solid lightgray ;
  z-index: 0;
  .container2, .container3 {
    margin: 0px auto;
    position: relative;
  }
  .container2 {
    width: 51%;
  }
  .container3 {
    width: 74%;
    #content_strip
    {
      width: 74%;
    }
  }
  #images {
    display: inline-block;
    margin-top: 74px;
    width: 84%;
    img {
      width: 32%;
      height: auto;
      margin: 2px;
      min-width: 250px;
    }
  }
  #news {
    margin-top: 74px;
    display: inline-block;
    float: right;
    width: 14%;
    /*    h1{
          padding-bottom: 38px;
          padding-top: 35px;

        }*/
    p span {
      font-weight: bold;
    }
  }
  #content_strip,#footer_strip {
    padding: 0 10px;
    .item
          {
             position: relative;
      .image_link
      {
        display: inline-block;
        padding-left: 5px;
        a{color: #9f1111}
      }
          }
    .image_wrap, .intro {
      display: inline-block;
      vertical-align: middle;
    }
    .image_wrap img {
      width: 146px;
      height: auto;
    }

    .intro {
      max-width: 50%;
      margin-left: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    .title
    {
      h3{padding-bottom: 0}
      vertical-align: baseline;
      margin-left: 30px;
    }

  h1{
    padding: 20px 0 38px 5%;

  }
  }
  #footer_strip
  {
    margin-top: 34px;
    .team
    {
      display: inline-block;
      text-align: center;
      padding: 0 0 0 15px;
    }
    .team:first-child
    {
      padding: 0 !important;
    }
  }

  #content_strip
  {
    border: 1px solid #d3d3d3;
    margin-top: 85px !important;
    padding: 0 !important;
    .item
    {
      margin: 20px 40px 20px 20px;
    }
  }

  .small_center
  {
    margin: 0 auto;
  }
  .headline
  {
    background-color: #4e4e4e;
    padding: 5px 0 5px 50px;
    margin-bottom: 45px;
    p
    {
      text-transform: uppercase;
      color: white;
    }
  }
  .googlemap
  {
    margin-bottom: 0;

  }
  .map
  {
    //Võta see välja kui wordpressi paned
    img{width: 100%}
  }
  .sidebar{
    background-color: #4e4e4e;
    display: inline-block;
    position: fixed;
    right: 10%;
    top: 257px;
    width: 220px;
    text-align: center;
    ul
    {
      display: inline-block;
      margin: 0 auto;
      padding: 20px;
      text-align: left;
      font-weight: bold;
      li{
        display: block;
        padding: 0 5px;
        text-transform: uppercase;
        a
        {
          padding: 10px;
        }
        .active, a:hover{
          text-decoration: underline;
          color: white !important;
        }
        a:visited
        {
          color: white;
        }
        ul
        {
          padding: 0 !important;
          li
          {
            padding: 0 0 0 15px;
          }
          li a,  li .active{
            text-transform: capitalize;
            padding: 5px;
          }
          li .active{
            text-decoration: underline;
            color: white !important;
          }
        }
      }

    }
  }
}

#footer {
  background-color: #282828;
  margin-top: 40px;
  .container1 {
    text-align: center;
    ul li{
      padding: 14px 48px;

    }
  }
}
@media screen and (max-width: 1345px)
{
  #main .container2
  {
    width: 682px !important;
  }
}
@media screen and (max-width: 1145px)
{
  #main .sidebar {
    right: 5%;
  }
  #main .container3 {
    width: 90%;
    #content_strip {
      width: 70%;
    }
  }
}
@media screen and (max-width: 1053px)
{
  #main_menu
  {
    padding: 5px 15px;
  }
  header .container2
  {
    width: 100%;
  }

  #main .container2
  {
    width: 682px !important;
  }

  #footer .container1 ul li {
  padding: 10px 23px;
  width: 40%;
  text-align: left;
  }
}
@media screen and (max-width: 935px)
{

  #main .sidebar {
    right: 15px;
  }
  #main .container3 {
    width: 100%;
    #content_strip {
      width: 65%;
      margin-left: 15px;
    }
  }

}
@media screen and (max-width: 830px)
{
  header
  {
  ul {
    display: block;
  }
  #main_menu li {
    border-left: none;
  }
  li {
    display: block;
  }
  a:link {
    padding: 11px 0;
    text-align: center;
  }
   a:hover, a:active, .active {
    border-bottom: 1px solid #282828;
  }
}
  #main .sidebar {
    display: none;
  }
  #main .container3 #content_strip {
    width: 100%;
    margin-left: 0;
    border-left: 0;
    border-right: 0;
  }
}
@media screen and (max-width: 712px)
{
 #main .container2
 {
   width: 100%!important;

 }
  #main #footer_strip{
    .team
    {
      display: block;
      text-align: center;
      margin-bottom: 6px;
    }
    .text
    {
      text-align: left;
      display: inline-block;
      width: 50%;
    }
  }
}
@media screen and (max-width: 550px)
{
#footer .container1 ul li {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
}
@media screen and (max-width: 430px)
{
  #main #footer_strip .text {
    text-align: center;
    width: 100%;
    padding-top: 15px;
    h3 {
      padding-bottom: 12px;
    }
  }

  #main #footer_strip h1 {
    padding: 20px 0 10px 5%;
  }
  #cover
  {
    display: none;
  }
  #main
  {
    margin-top: 0;
    #content_strip {
      margin-top: 26px !important;
      .item {
        margin: 0 15px 29px;
        .intro
        {
          display: block;
          max-width: 100%;
          margin-top: 12px;
        }
        .title
        {
          display: inline-block;
        }
      }

    }
    .price {
      position: absolute;
      bottom: -20px;
  }
}
}